################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspdotnet/eshop/.vs
/aspdotnet/DILifeTime/.vs/DILifeTime
